<div class="container">
<div class="jumbotron">
        <h1>Burger Queen</h1>
        <p>What kind of burger would you like to eat?</p>
        <h2>Make a Burger</h2>
        <panel>
            <div class="create-form">
                <div class="form-group">
                    <p>Place Order!</p>                    
                    <form action="/burgers/create" method="POST">
                        <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                        <button type="submit" class="btn btn-success" id="addburger">Add New Burger</button> 
                    </form>
                </div>
            </div>
        </panel>
</div>
<div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Pick order up!</strong></div>
                <div class="panel-body">
                        {{#each burger_data}}
                            {{#unless this.devoured}}
                                <pre>{{this.id}}. {{this.burger_name}}</pre>
                                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                                <input type="hidden" name= "burger_id" type="text"
                                value={{this.id}}>
                                <button type="submit" class="btn btn-default">Eat</button>
                                </form>
                            {{/unless}}
                        {{/each}}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Eat the burger!</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burger_data}}
                            {{#if this.devoured}}
                                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  
